.button-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    font-weight: normal;
    font-size: 1.1em;
    background-color: #d6d9e7;
    color: #230553;
    outline: .1rem solid #DEABC5;
        box-shadow: -.1rem .15rem .2rem #230553;
    border-radius: 1.5em;
    margin: .3em .2em;
    padding: 1em 0em;
}

.button-wrapper:hover {
    background-color: #DEABC5;
    outline: .1rem solid #8C7284;
    transition: 100ms;
}



.button-wrapper:active {
    /* background-color: #6EA4BF; */
    box-shadow: -.1rem .05rem .2rem #331832;
}

.operator {
    background-color: #331832;
    font-weight: lighter;
    outline: .0rem solid #DEABC5;
    color: #ffffff;
}

.operator:hover {
    background-color: #DEABC5;
    outline: .1rem solid #8C7284;
    color: #230553;
    transition: 200ms;
}