.button-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #d6d9e7;
    color: #230553;
    outline: 1px solid #888888;
}

.operator {
    background-color: #9756bd;
    color: #ffffff;
}