.clear-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 2em;
    font-weight: normal;
    font-size: 1.4em;
    background-color: #ffffff;
    color: #9756bd;
    outline: 1px solid #888888;
}