.logger {
    display: flex;
    justify-content:start;
    align-items: center;
    height:2em;
    padding: 1em 1em;
    font-weight: bolder;
    font-size: .55em;
    background-color: #190f2b;
    color: #089cff;
    /* outline: 2px solid #9756bd; */
    overflow: scroll;
    overflow-x: auto;
}

.label {
    font-weight: lighter;
}