.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #FFE4FA;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calc-wrapper {
  width: 50%;
  /* height: 70%;
  min-width: 200px;
  min-height: 400px; */
  border-radius: 1em;
  box-shadow: -1em 1em 3em 0px #63597A
;
  padding: .5rem .5em .5em .5em;
  background-color: #6EA4BF;
  border: solid .2rem #331832;
  
}

.row {
  display:flex;
  width: 100%;
  height: 10%;
}