.input {
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 2em 1em;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #1f1b26;
    color: #ffffff;
    outline: 2px solid #9756bd;
}