.logger {
    display: flex;
    justify-content:start;
    align-items: center;
    height: 1em;
    padding: 1em 1em;
    font-weight: lighter;
    font-size: 1em;
    background-color: #1f1b26;
    color: #08daff;
    /* outline: 2px solid #9756bd; */
    overflow: scroll;
    overflow-x: auto;
}